<template>
  <div class="inline text-center items-center justify-center col-span-6 pb-3 text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-sans">
  Estos son los dones de 
  <select name="communities" id="community-select" class="ml-2 pl-2 pr-2">
    <option value="dog">Donosti</option>
    <option value="parrot">Irun</option>
    <option value="hamster">Bilbao</option>
    <option value="spider">Usurbil</option>
    <option value="cat">Tolosa</option>
    <option value="goldfish">Leioa</option>
</select>
</div>
  
<div class="hidden sm:flex col-span-6 sm:col-span-3 md:col-span-2 text-xl justify-center items-center mt-2 mb-2">
  <a id="jan" class="pr-2 cursor-pointer  hover:text-blue-800" title="Buscar por la categoria Jan">🍽 Jan</a> |  
  <a id="lo" class="pl-2 pr-2 cursor-pointer  hover:text-blue-800" title="Buscar por la categoria Lo">🏠 Lo</a> | 
  <a id="lagunak" class="pl-2 pr-2 cursor-pointer  hover:text-blue-800" title="Buscar por la categoria Lagunak">🫂 Lagunak</a>
</div>
  
<div class="hidden sm:flex col-span-6 sm:col-span-3 md:col-span-2 items-center justify-center text-xl mt-2 mb-2">
  🧭 
  <input class="pr-1 cursor-pointer" type="range" min="0" max="5000" value="0" step="500" id="distance">
  <span class="pl-1" id="distance-info">0m</span>
</div>
  
<div class="hidden sm:flex col-span-6 sm:col-span-6 md:col-span-2 items-center justify-center mt-2 mb-2">
  <div class="flex w-full flex-wrap items-stretch mb-1 ml-10 mr-20">
    <span class="z-10 leading-snug font-normal text-center text-slate-300 absolute bg-transparent rounded text-lg items-center justify-center w-8 pl-3 py-2">
      🔎 
    </span>
    <input type="text" placeholder="Buscar..." class="px-3 py-2 placeholder-slate-300 text-slate-600 relative bg-white rounded text-base border-0 shadow outline-none focus:outline-none focus:ring w-full pl-10"/>
  </div>
</div>
  
<div class="box flex items-center justify-center col-span-6 h-56 z-0" id="map"></div>

<div class="flex justify-end col-span-6 gap-3">
  <button className="prev">◀</button>
  <button className="next">▶</button>
</div>

<div class="flex col-span-6 mt-1">
  <swiper 
    :rewind="true" 
    :navigation="{
      nextEl: '.next',
      prevEl: '.prev'
    }"
    :modules="modules" 
    :slidesPerView="1" 
    :breakpoints="{
      '640': {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      '768': {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      '1024': {
        slidesPerView: 3,
        spaceBetween: 10,
      },
      '1280': {
        slidesPerView: 4,
        spaceBetween: 10,
      },
      '1536': {
        slidesPerView: 5,
        spaceBetween: 10,
      }
    }" id="mainSwiper" >
      <swiper-slide v-for="(don,donX) in dones" :key="donX" :id="donX">
          <swiper :rewind="true" :navigation="needUserNavigation(don.users)" :modules="modules" id="userSwiper">
            <swiper-slide class="border border-gray-600 border-solid rounded" v-for="(user,userX) in don.users" :key="userX" :id="userX">
              <!-- first line (header)-->
              <div class="pb-2 flex items-center justify-end">
                <!--  <div class="ml-2">
                    <span class="mr-2">◀</span>
                    <span>▶</span>
                  </div> -->
                <div>
                  <span class="pr-2 text-xl" title="Categoría: Jan">🍽</span> <!--🍞-->
                  <span class="pl-2 pr-2 text-xl" title="Categoría: Lo">🏠</span> <!--💤-->
                  <span class="pl-2 pr-2 text-xl" title="Categoría: Lagunak">🫂</span> <!--🧙‍♀️-->
                </div>
              </div>

              <!-- second line (content)-->
              <div class="flex flex-col items-center justify-center">
                <p class="font-bold text-lg text-center m-1">{{don.name}}</p>
                <div class="bg-gray-100" id="card_users">
                  <p class="p-2 text-base text-center">{{don.metadata.descriptions[userX]}}</p>
                  <p class="flex flex-col justify-between p-1 bg-gray-200">
                    <span class="flex justify-between">
                      <span class="font-bold">{{user.name}}</span>
                      <span class="">{{user.contact_ways[0].data}}</span>
                    </span>
                    <span class="text-center">666111222</span>
                  </p>
                </div>
              </div>

              <!-- third line (footer)--> <!-- 💔 --> 
              <div class="flex flex-row mt-3 ml-5 mb-2 gap-3 justify-between">
                <span class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-pulse-fill inline" viewBox="0 0 16 16">
                    <title>Necesidades</title>
                    <path fill-rule="evenodd" d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475ZM.879 8C-2.426 1.68 4.41-2 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"></path>
                  </svg> {{don.metadata.necesidades}}
                </span>
               
                <span class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-hand-thumbs-up-fill inline" viewBox="0 0 16 16">
                      <title>Dones</title>
                      <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                  </svg> {{don.metadata.dones}}
                </span>

                <div class="mr-2 ml-auto">
                  <button class="pr-2 " title="Ver posición en el mapa" @click="goMap(donX,userX)">
                    💧 
                  </button>
                  <button class="" title="Ver perfil">
                    🔗 
                  </button>
                </div>
              </div>
            </swiper-slide> <!-- END use swiper-slide -->
          </swiper> <!-- END user swiper -->
      </swiper-slide> <!-- END main swiper-slide -->
    </swiper> <!-- END main swiper -->
  </div>
</template>

<script>
  import { dones } from '../data/dones';

  import "leaflet/dist/leaflet.css";
  import L from "leaflet";
  
  // Import Swiper Vue.js components
  import { Swiper, SwiperSlide } from "swiper/vue";
  // Import Swiper styles
  import "swiper/css";
  import "swiper/css/navigation";
  import { Navigation } from "swiper";

  export default {
    data() {
      return{
       center: [43.322181,-1.984496],
       dones: dones,
       slides: dones,
       selectedUsers: [],
       activeMarkerId: 0,
       map: '',
     }
    },
    components: {
      Swiper,
      SwiperSlide,
    },
    methods: {
      setupLeafletMap: function () {
        this.map = L.map("map").setView(this.center, 15);
        L.tileLayer(
          "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
          {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: "mapbox/streets-v11",
            accessToken: "pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
            tileSize: 512,
            zoomOffset: -1
          }
        ).addTo(this.map);
  
  
        /* prints points on map */
        this.dones.map((marker,x) => {
          const firstLatLong = marker.users[0].center.split(",")
          this.dones[x].marker = L.marker([firstLatLong[0], firstLatLong[1]]).addTo(this.map);
          
          marker.users.map((user,y) => {
            const latLong = user.center.split(",")
            console.log("user text search", user.name, user.center[0],latLong);
            this.dones[x].users[y].marker = {marker: undefined};
            this.dones[x].users[y].marker = L.marker([latLong[0], latLong[1]]).addTo(this.map);
          })
        })
  
        if(this.dones.length > 0) {
          this.selectedUsers = this.dones[0].users;
          this.dones[0].marker
            .bindPopup(`<b>${this.dones[0].users[0].name}</b><br />
              <span>📓 ${this.dones[0].users[0].contact_ways[0].type} : ${this.dones[0].users[0].contact_ways[0].data}</span>`, { closeButton: false })
            .openPopup();
        }
        /* END prints points on map */
      },
      needUserNavigation(users) {
        return users.length > 1 ? true : false;
      },
      goMap(activeMarkerId,userId) {
        console.log("activeMarkerId", activeMarkerId, this.dones[activeMarkerId])
        this.selectedUsers = this.dones[activeMarkerId].users;
        console.log("selectedUsers2", this.selectedUsers)
        const latLong = this.dones[activeMarkerId].users[userId].center.split(",");
        this.map.setView(latLong, 15);
        console.log("en goMap!", this.dones[activeMarkerId])
        
        this.dones[activeMarkerId].users[userId].marker
          .bindPopup(`<b>${this.dones[activeMarkerId].users[userId].name}</b><br />
            <span>📓 ${this.dones[activeMarkerId].users[userId].contact_ways[0].type} : ${this.dones[activeMarkerId].users[userId].contact_ways[0].data}</span>`, { closeButton: false })
          .openPopup();
        this.activeMarkerId = activeMarkerId;
      },
    },
    mounted() {
      this.setupLeafletMap();
    },
    setup() {
      return { modules: [Navigation] };
    },
  };
</script>