<template>
    <div class="col-span-6 mb-4">

        <h1 class="pb-3 text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-sans">Preguntas frecuentes</h1>
    </div>
    <div class="col-span-6 md:col-span-3 m-2">
        <p class="bg-gray-400 p-4 text-white text-3xl cursor-pointer" @click="changeState(0)">
            <span v-if="states[0]">➖</span> 
            <span v-if="!states[0]">➕</span> 
            <span> ¿Que es gplaza?</span>
        </p>
        <Transition name="fade">
            <div v-if="states[0]" :class="states[0] ? 'flex' : 'hidden'" class="bg-gray-100 p-4 border border-gray-600 border-solid text-3xl flex-col">
                <p class="mb-4">Plaza de necesidades, dones y talentos. </p>
                <p class="mb-4">Queremos crear comunidad/es poniendo en valor las necesidades, dones y talentos de cada ser que participe en ella.</p>
                <p class="mb-4">gplaza es un intento para facilitar el contacto entre seres que tengan necesidades con seres que mediante sus dones y talentos puedan ayudar.</p>
            </div>
        </Transition>
    </div>
    <div class="col-span-6 md:col-span-3 m-2">
        <p class="bg-gray-400 p-4 text-white text-3xl cursor-pointer" @click="changeState(1)">
            <span v-if="!states[1]">➕</span> 
            <span v-if="states[1]">➖</span>
            <span> ¿Que son las categorias: Jan,Lo, Lagunak? <!-- ¿ 🍽 , 🏠, 🫂 ? --></span>
        </p>
        <Transition name="fade">
            <p v-if="states[1]" :class="states[1] ? 'flex' : 'hidden'" class="bg-gray-100 p-4 border border-gray-600 border-solid text-3xl">
                ....
            </p>
        </Transition>
    </div>

    <div class="col-span-6  md:col-span-3 m-2">
        <p class="bg-gray-400 p-4 text-white text-3xl cursor-pointer" @click="changeState(2)">
            <span v-if="states[2]">➖</span> 
            <span v-if="!states[2]">➕</span> 
            <span> Artesanos</span>
        </p>
        <Transition name="fade">
            <div v-if="states[2]" :class="states[2] ? 'flex' : 'hidden'" class="bg-gray-100 p-4 border border-gray-600 border-solid text-3xl flex flex-col text-center">
                <p>🌹 Por nosotros</p>
                <p>Para nosotros 🐇. </p>
                <p class="mt-4">⛱ Por un abundante, </p>
                <p>yo-nosotros futuro 💌 </p>
            </div>
        </Transition>
    </div>
  </template>
  
  <script>
     export default {
      data() {
        return { 
            states: [
                false,
                false,
                false
            ]
        }
      },
      components: { },
      methods: { 
        changeState(position) {
            this.states[position] = !this.states[position]
        }
      },
      mounted() { },
      setup() { },
    };
  </script>

<style>
    /* .v-enter-active,
    .v-leave-active {
        transition: opacity 0.5s ease;

    }

    .v-enter-from,
    .v-leave-to {
        opacity: 1;
    } */

/*     .slide-fade-enter-active {
        transition: all 0.5s ease-in;
    }

    .slide-fade-leave-active {
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .slide-fade-enter-from,
    .slide-fade-leave-to {
        transform: translateX(20px);
        opacity: 0;
        transition: all 0.3s ease-out;
    } */

.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;      
}
.fade-enter-active {
  transition: all 1s ease;
}

.fade-leave-from {
  opacity: 1; 
}
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  transition: all 0.7s ease;
}

</style>