<template>
  <div class="bg-indigo-700 text-gray-100 min-w-full min-h-full flex flex-col justify-center items-center sm:flex sm:flex-row sm:justify-between sm:items-center col-span-6 ">
    <div class="m-2">
      <span class="font-medium">
        <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" title="Ver la licencia de esta aplicación">Licencia</a> | v0.0.2
      </span>
    </div>
    <div class="m-2">
      <span class="font-medium">Código</span>: 
      <a href="https://gitlab.com/g-plaza/server" target="_blank" title="Ver código del servidor de gplaza">Servidor</a> |
      <a href="https://gitlab.com/aitorjs/gplaza-client"  target="_blank" title="Ver código del cliente v1 de gplaza">Cliente v1</a>&nbsp;
      <a href="https://gitlab.com/g-plaza/clientv2" target="_blank" class="pr-2" title="Ver código del cliente v2 de gplaza">v2</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>