<template>
  <div style="margin-top:5.5rem">
    
    <div class="flex justify-between">
      <button
        class="pt-3 pb-3 pl-5 pr-5 bg-green-400 rounded font-bold text-white"
        v-on:click="onPrevious()"
      >
        Previous
      </button>
      <button
        class="pt-3 pb-3 pl-5 pr-5 bg-green-400 rounded font-bold text-white"
        v-on:click="onNext()"
      >
        Next
      </button>
    </div>

    <div class="relative slider-content">
      <div
        v-for="(user, i) in slides[0].users"
        :key="i"
        :data-index="i"
        class="absolute"
      >
        <!-- <img v-bind:src="slide" /> -->
        {{user.name}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ImageSlider',
  data () {
    return {
      currentSlideIndex: 0,
    }
  },
  props: {
    slides: Array
  },
  methods: {
    animate (element, animation, onAnimationEnd) {
      const plainClassList = Array.prototype.slice.call(element.classList);
      const animationsToRemove = plainClassList.filter(
        className => className.includes('animate__')
      )

      element.classList.remove('hidden', ...animationsToRemove);
      element.classList.add('animate__animated', animation);

      if (onAnimationEnd) {
        element.addEventListener('animationend', onAnimationEnd, {once:true})
      }
    },
    getNextSlideIndex () {
      if (this.currentSlideIndex + 1 < this.slides[0].users.length) {
        return this.currentSlideIndex + 1;
      }

      return 0;
    },
    getPreviousSlideIndex () {
      if (this.currentSlideIndex > 0) {
        return this.currentSlideIndex - 1;
      }

      return this.slides[0].users.length - 1;
    },
    onNext () {
      const element = document.querySelector(`[data-index="${this.currentSlideIndex}"]`)
      console.log("next", element)
     /*  this.animate(element, 'animate__fadeOutLeft', () => {
        console.log("pasa")
        }); */
        element.classList.add('hidden')

      const nextSlideIndex = this.getNextSlideIndex();
      console.log("nextSlideIndex", nextSlideIndex)
      const nextElement = document.querySelector(`[data-index="${nextSlideIndex}"]`)
      this.animate(nextElement, 'animate__fadeInRight');

      this.currentSlideIndex = nextSlideIndex;
    },
    onPrevious () {
      const element = document.querySelector(`[data-index="${this.currentSlideIndex}"]`)
      console.log("previous", element)
      // this.animate(element, 'animate__fadeOutRight', () => {
      element.classList.add('hidden')
      // });

      const previousSlideIndex = this.getPreviousSlideIndex();

      const previousElement = document.querySelector(`[data-index="${previousSlideIndex}"]`)
      this.animate(previousElement, 'animate__fadeInLeft');

      this.currentSlideIndex = previousSlideIndex;
    }
  },
  mounted () {
    this.slides[0].users.forEach((_, index) => {
      if (index !== this.currentSlideIndex) {
        const element = document.querySelector(`[data-index="${index}"`);
        element.classList.add('hidden');
      }
    })
  }
}
</script>

<style scoped>
.slider-content {
  height: 150px;
}
</style>
