<template>
  <!-- Color: 84CC16 o bg-lime-500 https://colorffy.com/color-scheme-generator-->
  <!-- https://www.svgrepo.com -->

  <header class="bg-lime-500">
    <nav
      class="
        py-3 md:py-0 mx-10
        sm:flex sm:justify-between sm:items-center
      "
    >
      <div class="flex items-center justify-between">
        <router-link
          to="/"
          class="
            font-bold
            text-gray-100
            hover:text-indigo-400
            cursor-pointer
            text-xl
            md:text-2xl
          "
          >Logo
        </router-link>
        <!-- Mobile menu button -->
        <div @click="toggleNav" class="flex sm:hidden">
          <button
            type="button"
            class="
              hover: text-green-800
              focus:outline-none focus:text-green-800
            "
          >
            <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
              <path
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <ul
        :class="showMenu ? 'flex' : 'hidden'"
        class="
          w-full h-full
          sm:w-auto sm:h-auto
          fixed left-0 top-0
          flex-col
          mt-3
          space-y-3
          bg-lime-500
          z-50
          transition-all
          sm:bg-transparent
          sm:flex sm:static sm:space-y-0 sm:flex-row sm:items-center sm:space-x-10 sm:mt-0
        "
        >
        <span @click="toggleNav" class="flex sm:hidden pl-3 text-xl cursor-pointer" title="Cerrar menu">❌ </span>
        <li class="text-black sm:text-green-800 hover:text-green-800 text-4xl sm:text-2xl flex items-center justify-center cursor-pointer hover:border-solid hover:border-1">
          <router-link to="/faq" @click="toggleNav" class="p-2 rounded m-0 ml-2 mr-2 hover:border-gray-600 hover:bg-gray-200 flex items-center justify-center h-full w-full">FAQ</router-link>
        </li>
        <li class="text-black sm:text-green-50 hover:text-green-800 text-4xl sm:text-2xl flex items-center justify-center cursor-pointer hover:border-solid hover:border-1 sm:hidden">
          <router-link
            class="text-gray-50  sm:text-green-50 hover:text-green-800 py-2 px-4 cursor-pointer h-full w-full hover:border-gray-600 hover:bg-gray-200 flex items-center justify-center p-2 rounded m-0 ml-2 mr-2"
            to="/Donosti/dones"
            @click="toggleNav">
            Dones
          </router-link>
        </li>
        <li class="text-black sm:text-green-50 hover:text-green-800 text-4xl sm:text-2xl flex items-center justify-center cursor-pointer hover:border-solid hover:border-1 sm:hidden">
          <router-link
            class="text-black  sm:text-green-50 hover:text-green-800 py-2 px-4 cursor-pointer h-full w-full hover:border-gray-600 hover:bg-gray-200 flex items-center justify-center p-2 rounded m-0 ml-2 mr-2"
            to="/Donosti/necesidades"
            @click="toggleNav">
            Necesidades
          </router-link>
        </li>
        <!-- <li class="text-black sm:text-gray-50 hover:text-green-800 text-4xl sm:text-2xl flex items-center justify-center cursor-pointer hover:border-solid hover:border-1">
          <router-link to="/" class="hover:border-solid hover:border-1 p-2 rounded m-0 ml-2 mr-2 hover:border-gray-600 hover:bg-gray-200 flex items-center justify-center h-full w-full">Contacta</router-link>
        </li> -->
       
        <li class="items-center justify-center col-span-1 hidden sm:flex">
          <router-link
            v-if="seedType === 'necesidades'"
            class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 cursor-pointer"
            to="/Donosti/dones">
            Dones
          </router-link>
          <router-link
            v-if="seedType === 'dones'"
            class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 cursor-pointer"
            to="/Donosti/necesidades">
            Necesidades
          </router-link>
        </li>
      </ul>

      <!-- Mobile buttom bottom right -->
      <button @click="toggleFilter" class="fixed bottom-4 right-4 bg-green-800 p-4 rounded-full flex z-40 sm:hidden ">
        🔎 
      </button>

      <div :class="showFilter ? 'flex' : 'hidden'"
        class="
          flex-col
          w-3/5 h-full
          sm:w-3/5 sm:h-auto
          fixed left-0 top-0
          bg-lime-500 z-50
          transition-all duration-1000
          sm:bg-transparent
          sm:hidden
          p-5
      ">
        <div class="flex mt-2 mb-6 text-xl">
          <span @click="toggleFilter" class="flex sm:hidden cursor-pointer" title="Cerrar filtros">❌ </span>
          <h1 class="pr-2 pl-[25%] font-bold text-2xl">Filtros</h1>
        </div>
        <div class="flex col-span-6 sm:col-span-3 md:col-span-2 text-xl justify-start items-center mt-2 mb-4">
          <a id="jan" class="pr-2 cursor-pointer  hover:text-blue-800" title="Buscar por la categoria Jan">🍽 Jan</a> |  
          <a id="lo" class="pl-2 pr-2 cursor-pointer  hover:text-blue-800" title="Buscar por la categoria Lo">🏠 Lo</a> | 
          <a id="lagunak" class="pl-2 pr-2 cursor-pointer  hover:text-blue-800" title="Buscar por la categoria Lagunak">🫂 Lagunak</a>
        </div>
        <div class="flex col-span-6 sm:col-span-3 md:col-span-2 items-center justify-center text-xl mt-2 mb-4">
          🧭 
          <input class="pr-3 cursor-pointer w-4/5" type="range" min="0" max="5000" value="0" step="500" id="distance">
          <span class="pl-1" id="distance-info">0m</span>
        </div>
        <div class="flex col-span-6 sm:col-span-6 md:col-span-2 items-center justify-center mt-2 mb-4">
          <div class="flex w-full flex-wrap items-stretch mb-1 sm:ml-10 sm:mr-20">
            <span class="z-10 leading-snug font-normal text-center text-slate-300 absolute bg-transparent rounded text-lg items-center justify-center w-8 pl-3 py-2">
              🔎 
            </span>
            <input type="text" placeholder="Buscar..." class="px-3 py-2 placeholder-slate-300 text-slate-600 relative bg-white rounded text-base border-0 shadow outline-none focus:outline-none focus:ring w-full pl-10"/>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="grid overflow-hidden grid-lines dark grid-cols-6 auto-rows-min px-8 py-9 gap-3">
    <router-view></router-view>
  </div>

  <div class="grid overflow-hidden grid-lines dark grid-cols-3 auto-rows-min md:grid-cols-1">
    <Footer></Footer>
  </div>
</template>

<script>
  import { ref } from 'vue';
  import Footer from './components/Footer.vue';

  export default {
    data() {
     return { 
      seedType: "necesidades"
     }
    },

    components: {
      Footer
    },
    
    watch: {
      $route: {
        deep: true,
        handler(to, from) {
          this.seedType = to.name;
        },
      },
    },
   
    methods: {},
    mounted() {},
    setup() {
      let showMenu = ref(false);
      let showFilter = ref(false);
      const toggleNav = () => (showMenu.value = !showMenu.value);
      const toggleFilter = () => (showFilter.value = !showFilter.value);
      
      return { showMenu, toggleNav, showFilter, toggleFilter };
    }
  };
</script>