<template>
  <header class="bg-green-500">
    <nav
      class="
        py-4 mx-10
        md:flex md:justify-between md:items-center
      "
    >
      <div class="flex items-center justify-between">
        <router-link
          to="/"
          class="
            text-xl
            font-bold
            text-gray-100
            md:text-2xl
            hover:text-indigo-400
          "
          >Logo
        </router-link>
        <!-- Mobile menu button -->
        <div @click="toggleNav" class="flex md:hidden">
          <button
            type="button"
            class="
              hover: text-green-800
              focus:outline-none focus:text-green-800
            "
          >
            <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
              <path
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <ul
        :class="showMenu ? 'flex' : 'hidden'"
        class="
          flex-col
          mt-3
          space-y-0
          md:flex md:space-y-0 md:flex-row md:items-center md:space-x-10 md:mt-0
        "
      >
        <li class="text-green-800 hover:text-green-800 text-xl">Home</li>
        <li class="text-gray-50 hover:text-green-800 text-xl">About</li>
        <li class="text-gray-50 hover:text-green-800 text-xl">Blogs</li>
        <li class="text-gray-50 hover:text-green-800 text-xl">Contact Us</li>
      </ul>
    </nav>
  </header>
  <div class="grid overflow-hidden grid-lines dark grid-cols-6 auto-rows-min px-5 py-5 gap-3">
      <div class="box col-span-3">Texto con select</div>
      <div class="box col-span-3">Boton</div>
      <div class="box col-span-2">categorias</div>
      <div class="box col-span-2">distancia</div>
      <div class="box col-span-2">texto libre</div>
      <div class="flex ml-16 mr-24 gap-4 w-72">
        <div class="box flex items-center justify-center col-span-2">DON 1</div>
        <div class="box flex items-center justify-center">DON 2</div>
        <div class="box flex items-center justify-center">DON 3</div>
        <div class="box flex items-center justify-center">DON 4</div>
        <div class="box flex items-center justify-center">DON 5</div>
      </div>
    </div>

    <div class="grid overflow-hidden grid-lines dark grid-cols-3 auto-rows-min md:grid-cols-1">
      <div class="bg-indigo-700 text-gray-100 min-w-full h-16 min-h-full md:flex md:justify-between md:items-center col-span-6 ">
        <div class="m-2">FOOTER1</div>
        <div class="m-2">FOOTER2</div>
        <div class="m-2">FOOTER3</div>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center">
      TEXTO
    </div>
</template>
<script>
import { ref } from 'vue';
export default {
  setup() {
    let showMenu = ref(false);
    const toggleNav = () => (showMenu.value = !showMenu.value);
    return { showMenu, toggleNav };
  },
};
</script>